<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org"
      xmlns:xsi="http://w3.org"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- ターゲットの設定 -->
	<targets>
		<target xsi:type="File"
				name="fileTarget"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="[${longdate}] [${level:uppercase=true}] [${logger}] ${message}${onexception:${newline}${exception:format=tostring}}"
				archiveFileName="${basedir}/logs/archives/{#}.zip"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				enableArchiveFileCompression="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
	</rules>
</nlog>
